body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color:yellow
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#down {
  float: left;
  overflow: hidden;
}

#down #downbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color:blueviolet;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, #down:hover #downbtn {
  background-color: rgb(0, 174, 255);
}

#down-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#down-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#down-content a:hover {
  background-color: rgb(16, 202, 193);
}

#down:hover #down-content {
  display: block;
}