*{
    box-sizing: border-box;
}
#images{
    margin-top: 20px; 
}


#date{
    margin-top: 25px;
}
hr{
    height: 25px;
    border-bottom: 5px solid red;
    border-top: 5px solid blue;
    color: black;
    background-color: black;
}
